<meta name="robots" content="noindex , nofollow">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title><%= pageName %></title>

<!-- favicon -->
<link rel="icon" href="/images/favicons/favicon.ico">
<link rel="apple-touch-icon" href="/images/favicons/apple-touch-icon.png">
<!-- <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png"> -->
<link rel="manifest" href="/images/favicons/manifest.json">

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<!-- moment -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>

<!-- sanitize.css -->
<link rel='stylesheet' href='/admin/stylesheets/sanitize.css'>
<!-- オリジナルcss -->
<link rel='stylesheet' href='/admin/stylesheets/style.css'>


<!-- Theme style -->
<link rel="stylesheet" href="/admin/stylesheets/adminLTE/adminlte.min.css">

<!-- Bootstrap 4 -->
<script src="/admin/javascripts/_library/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/admin/javascripts/_library/adminlte.js"></script>